@import "tailwindcss" source(none);
@import "../vendor/RS/tailwind.theme.css";
@import "../vendor/RS/dist/design-system.css";
@source '../**/*.{js,ts,jsx,tsx}';

:root {
  --max-content-width-pc: 1024px;
  --app-font-family: "SF Pro", "Segoe UI", Roboto;
  --app-font-display: "SF Pro", "Segoe UI", Roboto;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.route-loading {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: system-ui, sans-serif;
}

/* Custom scrollbar for inner elements */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}

/* Hide scrollbar for slider */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
